<div id="login">
  <h1>Data Entry Login</h1>
  
  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% form_tag session_path do %>
    <dl>
      <dt><label for="username">Username:</label></dt>
      <dd>
        <%= text_field_tag 'username' %>
      </dd>
      <dt><label for="password">Password:</label></dt>
      <dd>
        <%= password_field_tag 'password' %>
        <span>(<%= link_to 'I forgot my password/username', forgot_password_path %>)</span>
      </dd>
    
      <dd>
        <%= check_box_tag 'remember_me' %>
        <label for="remember_me">Remember me on this computer</label>
      </dd>
    
      <dd>
        <%= submit_tag 'Sign In' %>
      </dd>
    </dl>
  <% end %>
  
  <div id="register">
    <p>Don't have an account? <%= link_to "Create one now", signup_path %>.</p>
  </div>  
</div>

<script type="text/javascript">
  window.onload = function() {
    document.forms[0].elements[0].focus();
  }
  </script>

