<div id="aquatic-site" class="active-scaffold">
  <h3 class="name" style="border-bottom: 1px solid black;">Aquatic Site</h3>
  <div class="show-view">
    <dl>
      <dt>Site Name</dt>
      <dd><%= @aquatic_site.name || '-' %></dd>
    </dl>
    <dl>
      <dt>Waterbody Name</dt>
      <dd><%= @aquatic_site.waterbody ? @aquatic_site.waterbody.water_body_name : '-' %></dd>
    </dl>
    <dl>
      <dt>Waterbody ID</dt>
      <dd><%= @aquatic_site.waterbody ? @aquatic_site.waterbody.water_body_id : '-' %></dd>
    </dl>
    <dl>
      <dt>Drainage Code</dt>
      <dd><%= @aquatic_site.waterbody ? @aquatic_site.waterbody.drainage_cd : '-' %></dd>
    </dl>
    <dl>
      <dt>Description</dt>
      <dd><%= @aquatic_site.description || '-' %></dd>
    </dl>
  </div>  
  
  <div style="clear: both;"></div>
  
  <div class="show-view" style="margin-top: 1em;">
    <h3 class="name" style="border-bottom: 1px solid black;">Location</h3>
    <% if true # @aquatic_site.gmap_location.blank? %>
      <p style="font-size: 11px; font-family: Verdana; font-style: italic; padding-left: 5px; color: #555;">No coordinate information for this aquatic site.</p>
    <% else %>
      <dl>
        <dt>Latitude</dt>
        <dd><%= @aquatic_site.gmap_location.latitude %></dd>
      </dl>
      <dl>
        <dt>Longitude</dt>
        <dd><%= @aquatic_site.gmap_location.longitude %></dd>
      </dl>
      <dl>
        <dt>Coordinate System</dt>
        <dd><%= @aquatic_site.gmap_location.coordinate_system.display_name %> </dd>
      </dl>        
      <div style="clear: both;"></div>    
      <%= @aquatic_site_map.div %>
      
      <script type="text/javascript">
        include_gmap_scripts('<%= GMap.header %>');
        <% # = @aquatic_site_map.to_html %>
      </script>
    <% end %>
  </div>  
</div>
