<h3 class="name" style="border-bottom: 1px solid black; font-family:verdana; font-size:16px; font-weight:bold; margin-bottom:10px;">Account Details</h3>
<ol class="form">
  <li class="form-element">
    <dl>
      <dt><label for="user_agency_id">Agency</label></dt>
      <dd><%= agency_dropdown %></dd>
    </dl>
  </li>
  <li class="form-element">
    <dl>
      <dt><label for="user_name">Your Name</label></dt>
      <dd><%= form.text_field :name, :class => 'text-input' %></dd>
    </dl>
  </li>
  <li class="form-element">
    <dl>
      <dt><label for="user_login">Username</label></dt>
      <dd><%= form.text_field :login, :class => 'text-input' %></dd>
    </dl>
  </li>
  <li class="form-element">
    <dl>
      <dt><label for="user_email">Email</label></dt>
      <dd><%= form.text_field :email, :class => 'text-input' %></dd>
    </dl>
  </li>
  <li class="form-element">
    <dl>
      <dt><label for="user_password"><%= action == :new ? 'Password' : 'Change Password' %></label></dt>
      <dd><%= form.password_field :password, :class => 'text-input' %></dd>
    </dl>
  </li>
  <li class="form-element">
    <dl>
      <dt><label for="user_password_confirmation"><%= action == :new ? 'Confirm Password' : 'Confirm New Password' %></label></dt>
      <dd><%= form.password_field :password_confirmation, :class => 'text-input' %></dd>
    </dl>
  </li>
  <% if @user && !@user.admin? %>
    <div style="clear: both; padding-top: 10px;">
      <p>Will this account be used to add/edit your agency's data?</p>  
      <div>
        <input type="radio" name="requesting_editor_priveleges" value="no" checked="checked">No, I'd just like to view data and reports<br/>        
        <input type="radio" name="requesting_editor_priveleges" value="yes">Yes
      </div>
    </div>
  <% end %>
</ol>    
<div style="clear: both; padding: 10px;"></div>

<h3 class="name" style="border-bottom: 1px solid black; font-family:verdana; font-size:16px; font-weight:bold; margin-bottom:10px;">Area of Interest <%= tooltip :id => 'aoi', :partial => 'waterbody/area_of_interest_tooltip' %></h3>    
<ol class="form">
  <li class="form-element">
    <%= render :partial => 'waterbody/area_of_interest_autocomplete', :locals => { :area_of_interest => @user.area_of_interest } %>
  </li>
</ol>
<% if action != :new %>
  <div style="clear: both">
    <input id="remove-area-of-interest" type="checkbox" name="remove_area_of_interest" />
    <label for="remove-area-of-interest">Remove Area of Interest</label>
  </div>
<% end %>
<div style="clear: both; padding: 5px;"></div>

<p class="form-footer">  
  <%= submit_tag(action == :new ? 'Create Account' : 'Save Changes', :class => 'submit') %>
  <a class="cancel" href="<%= action == :new ? login_url : session[:previous_location] %>">Cancel</a>
</p>