<div id="new-user" class="active-scaffold">
  <h1>Create New Account</h1>
  
  <% if flash[:error] %>
    <div class="error">     
      <%= flash[:error] %>
      <%= error_messages_for :user %>
      <%= error_messages_for :agency %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% form_for :user, :url => users_path do |f| %>
    <%= render :partial => 'form', :locals => { :form => f, :action => :new } %>
  <% end %>
</div>
