<div id="new-user">
  <h1>Create New Account:</h1>
  
  <% if flash[:error] %>
    <div class="error">     
      <%= error_messages_for :user %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% form_for :user, :url => users_path do |f| %>
    <dl>
      <dt><label for="agency">Agency:</label></dt>
      <dd><%= select 'user', 'agency_id', Agency.find(:all, :order => 'name ASC').collect{ |agency| [agency.name, agency.id] } %></dd>
    
      <dt><label for="login">Username:</label></dt>
      <dd><%= f.text_field :login %></dd>
    
      <dt><label for="email">Email:</label></dt>
      <dd><%= f.text_field :email %></dd>
    
      <dt><label for="password">Password:</label></dt>
      <dd><%= f.password_field :password %></dd>
    
      <dt><label for="password_confirmation">Confirm Password:</label></dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    
      <dd><%= submit_tag 'Create Account' %></dd>
    </dl>
  <% end %>
</div>
