<div id="coordinate-preview" style="float: left; margin-left: 3em;">
  <a id="view-location-preview" href="javascript:void(0)">Show Location On Map</a>
  <div id="coordinate-preview-dialog" class="tooltip" style="display: none;">
    <div class="tooltip_content">
      <div id="coordinate-preview-loading" style="display: none;">
        <%= loading_indicator_tag(:action => 'preview-location') %>
        <span style="padding-left: 2px;">Loading Map</span>
      </div>
      <div id="coordinate-preview-result" class="iframe-container" style="width: 250px; height: 250px;">
      </div>
      <small><%= link_to_function "close", "$('coordinate-preview-dialog').hide();" %></small>
    </div>
  </div>
  <script type="text/javascript">
      $('view-location-preview').observe('click', function(event) { 
         var options = {
            loadingImage: '<%= loading_indicator_id(:action => "preview-location") %>',
            form: '<%= element_form_id(:action => :create)  %>',
            url: '<%= url_for :action => 'on_preview_location' %>',
            width: '250px',
            height: '250px',
            fields: [                
                'record[x_coordinate]',
                'record[y_coordinate]',
                'record[coordinate_system]'
            ]
         };
         showLocationOnMap(options, event); 
      });
  </script>
</div>