<div id="account-recovery">  
  <h1><%= :account_recovery_form_label.l %></h1>
  
  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
      <%= error_messages_for :user %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% form_tag url_for(:action => 'create') do %>
    <p><%= :account_recovery_form_email_field.l %></p>
    <%= text_field_tag :email %>
    <%= submit_tag :account_recovery_form_submit.l %>
    <%= link_to :account_recovery_form_cancel.l, login_url %>
<% end %>
</div>