<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= page_title %></title>     
    <%= stylesheets %>
    <%= javascripts %>
  </head>
  <body>   
    
    <%= render :partial => 'layouts/header' %>
    
    <div id="navigation">
      <div id="location">
        <h2>
          <span class="current"><%= current_location %></span>
          <span class="previous"><%= link_to_previous_location if previous_location %></span>
        </h2>
      </div>
      <%= render_tabs %>
    </div>
    
    <div id="content">
      <div class="inner">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td id="main">
              <%= yield %>
            </td>
            <td id="help-contents" style="display: none;">
              <a class="close" style="display: none;" href="javascript:void(0);">Close</a>
              <div class="loading" style="display: none;"><img class="indicator" src="/images/active_scaffold/default/indicator.gif" /><span class="message">Loading...</span></div>
              <div class="text"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <%= render :partial => 'layouts/session' %>
    
    <div id="footer"></div> 
    
    <%= lazy_javascripts %>    
                    
  </body>
</html>



