<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NB Aquatic Data Warehouse - Data Entry</title>    
    <%= stylesheet_link_merged :base %>
    <!--[if IE]><%= stylesheet_link_merged :ie %><![endif]-->
    <%= javascript_include_merged :base %>
    <%= GMap.header %>
    <%= calendar_date_select_includes "silver" %>
    <%= javascript_include_tag 'lowpro-0.2/lowpro'  %>
  </head>
  <body>
    
    <div id="header">
      <div id="session">
        <p>Logged in as <a href="#"><span class="user"><%= current_user.login %></span></a></p> <% #= link_to h(current_user.login.capitalize), user_path(current_user) %>
        <div class="actions">
          <a href="#">Profile</a>  <% #= link_to 'Edit Profile', edit_user_path(current_user) %>
          <span class="pipe">|</span>
          <%= link_to 'Logout', logout_path %>
        </div>
      </div>
      
      <div id="application">
        <img class="logo" src="#" alt="IMG"/>
        <h1 class="name">Aquatic Data Warehouse</span></a></h1>
      </div>     
      
      <div id="agency">
        <h3><%= "#{current_user.agency.name} (#{current_user.agency.code})" if current_user.agency %></h3>
      </div>
    </div>
    
    <div id="navigation">
      <h2 class="location">
        <span class="primary"><%= 'Main Menu' %></span>
      </h2>
      <%= tabnav :main %>
    </div>
    
    <div id="content"> 
      <div id="browse">
        <%= yield if controller.action_name == 'browse' %>
      </div>
      <div id="explore">
        <%= yield if controller.action_name == 'explore' %>
      </div>
      <div id="help">
        <%= yield if controller.action_name == 'help' %>
      </div>
    </div>    
    
  </body>
</html>
