<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NB Aquatic Data Warehouse - Data Entry</title>    
    <%= stylesheet_link_tag 'reset', 'application' %>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'prototabs/prototabs' %>
    <%= active_scaffold_includes %>  
  </head>
  <body>
    
    <div id="header">
      <div id="session">
        <p>Logged in as <a href="#"><span class="user"><%= current_user.login %></span></a></p> <% #= link_to h(current_user.login.capitalize), user_path(current_user) %>
        <div class="actions">
          <a href="#">Profile</a>  <% #= link_to 'Edit Profile', edit_user_path(current_user) %>
          <span class="pipe">|</span>
          <%= link_to 'Logout', logout_path %>
        </div>
      </div>
      
      <div id="application">
        <img class="logo" src="#" alt="IMG"/>
        <h1 class="name">Aquatic Data Warehouse: Data Entry</h1>
      </div>      
    </div>
    
    <div id="navigation">
      <h2 class="location">
        <span class="agency_name"><%= 'Main Menu' %></span>
      </h2>
      <ul id="tabs" class="tabs">
        <li class="tab <%= 'active' if controller.action_name == 'browse' %>"><a href="#browse">Browse</a></li>
        <li class="tab <%= 'active' if controller.action_name == 'explore' %>"><a href="#explore">Explore</a></li>
        
        <li class="tab <%= 'active' if controller.action_name == 'help' %> option"><a href="#help">Help</a></li>
        <!-- <li class="tab option"><a href="#">Settings</a></li> -->
      </ul>
    </div>
    
    <div id="content"> 
      <div id="browse">
        <%= yield if controller.action_name == 'browse' %>
      </div>
      <div id="explore">
        <%= yield if controller.action_name == 'explore' %>
      </div>
      <div id="help">
        <%= yield if controller.action_name == 'help' %>
      </div>
    </div>
    
    <script type="text/javascript">
        Event.observe(window, 'load', function() {
            new ProtoTabs('tabs', {
                defaultPanel: '<%= controller.action_name %>', 
                ajaxUrls: { explore: '/explore', browse: '/browse' }
            });
        });
    </script>
    
    
  </body>
</html>
