<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NB Aquatic Data Warehouse - Data Entry</title>    
    <%= stylesheet_link_merged :base %>
    <!--[if IE]><%= stylesheet_link_merged :ie %><![endif]-->
    <%= javascript_include_merged :base %>
    <% # = GMap.header %>
    <%= calendar_date_select_includes "silver" %>
  </head>
  <body>
    
    <%= render :partial => 'layouts/header' %>
    
    <div id="navigation">
      <h2 class="location">
        <span class="primary"><%= 'Main Menu' %></span>
      </h2>
      <%= tabnav :main %>
    </div>
        
    <div id="content"> 
      <%= yield %>
    </div>   
    
  </body>
</html>
