<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NB Aquatic Data Warehouse - Data Entry</title>    
    <%= stylesheet_link_merged :base %>
    <%= stylesheet_link_tag 'water_chemistry_report' %>
    <!--[if IE]><%= stylesheet_link_merged :ie %><![endif]-->
    <%= javascript_include_merged :base %>
    <%= GMap.header %>
    <% # = @aquatic_site_map.to_html %>
  </head>
  <body id="water-chemistry-sampling" class="<%= controller.action_name %>">
    
    <%= render :partial => 'layouts/header' %>
    
    <div id="navigation">
      <h2 class="location">
        <span class="primary">Water Chemistry Sampling</span>
        <span class="back"><%= link_to 'Back to Data Collection Sites', root_url %></span>
      </h2>            
      <%= tabnav :water_chemistry_sampling %>
    </div>
    
    <div id="content"> 
      <div id="center">
        <div id="center-content">
          <%= yield %>
        </div>
      </div>
      <div id="right">
        <div id="right-content">
          <%= render :partial => 'activity_details'  %>
          <%= render :partial => 'aquatic_site' %>
        </div>
      </div>
    </div>       
    
  </body>
</html>
