<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NB Aquatic Data Warehouse - Data Entry</title>    
    <%= stylesheet_link_merged :base %>
    <!--[if IE]><%= stylesheet_link_merged :ie %><![endif]-->
    <%= javascript_include_merged :base %>
    <%= GMap.header %>
    <%= @aquatic_site_map.to_html %>
  </head>
  <body id="water-chemistry-sampling">
    
    <div id="header">
      <div id="session">
        <p>Logged in as <a href="#"><span class="user"><%= current_user.login %></span></a></p> <% #= link_to h(current_user.login.capitalize), user_path(current_user) %>
        <div class="actions">
          <a href="#">Profile</a>  <% #= link_to 'Edit Profile', edit_user_path(current_user) %>
          <span class="pipe">|</span>
          <%= link_to 'Logout', logout_path %>
        </div>
      </div>
      
      <div id="application">
        <img class="logo" src="#" alt="IMG"/>
        <h1 class="name">Aquatic Data Warehouse: Data Entry</h1>
      </div>    
      
      <div id="agency">
        <h3><%= "#{current_user.agency.name} (#{current_user.agency.code})" if current_user.agency %></h3>
      </div>    
    </div>
    
    <div id="navigation">
      <h2 class="location">
        <span class="primary">Water Chemistry Sampling</span>
        <span class="back"><%= link_to 'Back to Main Menu', root_url %></span>
      </h2>            
      <%= tabnav :water_chemistry_sampling %>
    </div>
    
    <div id="content"> 
      <div id="center">
        <div id="center-content">
          <%= yield %>
        </div>
      </div>
      <div id="right">
        <div id="right-content">
          <%= render :partial => 'aquatic_site' %>
        </div>
      </div>
    </div>       
    
  </body>
</html>
