<% form_tag url_for(:action => "update") do %>
  <p>
    <label for="old_password" class="block"><%= :accounts_old_password_form_label.l -%></label>
    <br />
    <%= password_field_tag 'old_password', @old_password, :size => 45 %>
  </p>

  <p>
    <label for="password" class="block"><%= :accounts_new_password_form_label.l -%></label>
    <br />
    <%= password_field_tag 'password', {}, :size => 45 %>
    <br />
    <small><%= :accounts_new_password_form_hint.l -%></small>
  </p>

  <p>
    <label for="password_confirmation"  class="block"><%= :accounts_confirm_new_password_form_label.l -%></label>
    <br />
    <%= password_field_tag 'password_confirmation', {}, :size => 45 %>
  </p>

  <%= submit_tag :accounts_edit_form_submit.l %>
<% end %>

